@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*--------------------------------------------------------Nav-part------------------------------------*/
#nav-menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  align-items: center;
}

.logo > a {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-weight: 800;
}

.nav-btn {
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
  cursor: pointer;
}

/*--------------------------------------------------------Header part---------------------------------*/
#header-banner {
  background: url(../assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 652px;
}
.header-menu-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.header-banner-h1-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 48px;
  font-weight: 800;
  line-height: 68px; /* 141.667% */
  margin: 34px 0 24px 0;
}
.header-banner-p-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  padding: 0 113px;
  line-height: 26px; /* 162.5% */
  margin-bottom: 32px;
}
/* -------------------------------------------------------Why Web Development---------------------------------- */
.container {
  width: 80%;
  margin: 0 auto;
}
#web-development-section-color {
  margin-top: 74px;
  height: 1394px;
  width: 100%;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
#web-development-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web-development-h4-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
  margin-top: 80px;
}
.web-development-p-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  margin-top: 24px;
}
/*------------------------------------------------Layer-section------------------------------*/
.card-one-menu {
  margin-top: 48px;
}
.card-one-content {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 48px;
}
.content-menu-wraper {
  width: 50%;
}
.one-picther {
  width: 50%;
  display: flex;
  justify-content: end;
}
.tow-picther {
  width: 40%;
  display: flex;
  justify-content: start;
}

.content-one-h4 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  padding-right: 163px;
}
.content-one-h4-2nd {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  padding-right: 100px;
}
.one-content-p-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  margin-top: 16px;
}
.one-content-btn {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  padding: 12px 20px;
}

/*----------------------------------------------------------My Inspiration--------------------------------------------------- */
#inpsiration {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.inpsiration-h4-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
}
.inpsiration-p-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  margin-top: 24px;
  padding: 0 200px;
}

/* --------------------------------------------------------------iframe -Video---------------------------------- */
#iframe-video {
  height: 660px;
  border: solid 2px red;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  padding: 32px;
  /* gap: 10px; */
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}

/*-----------------------------------------------------------My-Current-Target ---------------------------*/
#my-current-target {
  margin-top: 150px;
}
.current-target-menu-wraper {
  text-align: center;
}
.current-target-h3-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
}
.current-target-p-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  padding: 24px 350px 0 350px;
}
/* -------------------Card Design----------------- */
.target-card-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.target-card-one {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
  border-radius: 16px;
}
.target-card-one-2nd {
  padding: 40px;
  border-radius: 16px;
}
.target-card-h3-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
}
.target-card-p-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  margin: 8px 0 24px 0;
}

/*----------------------------------------------------------------- My Next Target--------------------------------------------- */
#next-target {
  margin-top: 110px;
}

.next-target-menu {
  text-align: center;
}
.next-target-h3-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
}
.next-target-p-text {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  padding: 24px 277px;
}

/* -------------------next-target-card ----------------*/
.next-target-card-menu-wraper {
  margin-top: 48px;
}
.next-target-card-one-menu {
  border-radius: 16px;
  border: 0.2px solid #00000027;
  padding: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.target-card-h5-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  line-height: 36px; /* 150% */
}
.target-card-p2nd-text {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  padding: 8px 0 24px 0;
}
.next-target-card-picther{
  padding-right: 24px;
}
